<ul>
  <% @bookmarks.each do |website| %>
    <li><a href=<%= website.url %>><%= website.title %></a></li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <input placeholder="URL" type="text" name="url">
  <input placeholder="Title" type="text" name="title">
  <input type="submit" value="Submit">
</form>